div{
 margin: 0 auto;
}

body {
    background-color: black;
    margin: 0;
}
.flex{
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text{
	color: red;
	text-align: center;
}
.relative{
  position: relative;
  left: 15%;
}
#svg{
  background-color: darkseagreen;
  background: radial-gradient(darkseagreen 0%, black 70%);
  width: 700px;
  cursor: pointer;
  transform: rotate(30deg);
  position: absolute;
  top: 25px;
  left: 250px;
}
#svg1{
  width: 700px;
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 10px;
  transform: rotate(-30deg);
}
h1{
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  transform:translateY(-50%);
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 34px;
  color: #c70012;
  padding: 0 20px;
}
h1 span{
    font-size:20px;
}